body {
  margin: 0;
  --primary-background-color: #6db33f;
  --secondary-background-color: #80ea6e;
  --text-color: #1b1f23;
  color: var(--text-color) !important;
  background-color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vh;
  overflow-x: hidden;
}

.main {
  position: relative;
  max-height: 100vh;
}

.logo-container {
  display: flex;
  align-items: center;
}

.spring-logo {
  width: 30px;
  height: 30px;
}

.header-container {
  top: 0;
  background-color: var(--text-color);
  color: var(--primary-background-color);
  z-index: 1000;
  padding-left: 1em;
  border-bottom: 0.5em solid var(--primary-background-color);
  width: 100vw !important;
}

.header {
  display: flex;
  flex-direction: row;
  width: 65vw;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0.5em 0 0.25em 0.25em !important;
}

.bussines-name-input-container {
  background-color: var(--primary-background-color);
  width: calc(100vw - 10px) !important;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: 0 !important;
}

.entity-forms-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 95vw;
  border: 1em solid var(--text-color);
  background-color: var(--text-color);
  padding-bottom: 3em;
}

.add-entity-button {
  background-color: var(--primary-background-color) !important;
  height: 2em !important;
  width: 2em !important;
  font-size: 2rem !important;
  margin-top: 5em !important;
  margin-right: 0.5em !important;
  transition: all 0.5s ease-in-out !important;
}

.add-entity-button:hover {
  background-color: var(--secondary-background-color) !important;
}

.card {
  min-width: 25vw;
  padding: 2em;
  margin: 1em;
  background-color: var(--primary-background-color) !important;
  color: var(--text-color) !important;
}

.attribute-card {
  background-color: var(--secondary-background-color) !important;
  margin-bottom: 1em;
}

.input {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 8em;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

.name-input {
  width: 80%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-background-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

.create-project-button {
  position: fixed !important;
  bottom: 2.5em !important;
  right: 1em !important;
}

@media screen and (max-width: 600px) {
  .header-container {
    position: relative;
  }

  .header {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    margin: 1em 0 1em 0 !important;
  }

  .bussines-name-input-container {
    margin-left: 0 !important;
    width: 102vw !important;
  }

  .entity-forms-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .add-entity-button {
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
